In [1]:
import os,cv2
import numpy as np
import pandas as pd

In [2]:
rootdir='Data2'
CLASSES=[x for x in os.listdir(rootdir) if x!='.DS_Store']
CLASSES.sort()
ImagePaths=[]
out_classes=[]
for i,class1 in enumerate(CLASSES):
    Folder=os.path.join(rootdir,class1)
    ImagePaths= ImagePaths+[os.path.join(Folder,x) for x in os.listdir(Folder) if x!='.DS_Store']
    out_classes=out_classes+[class1 for x in os.listdir(Folder) if x!='.DS_Store']

In [3]:
len(CLASSES)

35

In [4]:
print(len(CLASSES),len(ImagePaths))
Images = [cv2.imread(image) for image in ImagePaths ]
out_classes=[x for x,y in zip(out_classes,Images) if y is not None]
ImagePaths=[x for x,y in zip(ImagePaths,Images) if y is not None]
Images=[image for image in Images if image is not None]
Sizes=[image.shape for image in Images ]
Num_Images=len(ImagePaths)
images=[cv2.resize(image,(300,300)) for image in Images]
images=np.stack(images,axis=0)
print(images.shape)

(35, 15658)
(15635, 300, 300, 3)

In [5]:
len(out_classes)

15635

In [6]:
import pandas as pd
BirdClasses=pd.DataFrame(
    {'Bird Class': np.unique(out_classes,return_counts=True)[0],
     'Counts': np.unique(out_classes,return_counts=True)[1]
    })

In [7]:
BirdClasses.sort_values(by=['Counts'], ascending=False)

                   Bird Class  Counts
5                 Coppersmith     729
11                 House_Crow     675
23                    Peacock     639
3                 Common_myna     631
16                       Koel     595
1                      Bulbul     593
25               Pied_wagtail     580
30                     Shikra     573
20                   Parakeet     563
15             Jungle_babbler     553
29       Rufous_backed_shrike     541
31                    Sunbird     517
8    Golden_backed_woodpecker     512
26                     Pigeon     505
34   White_breasted_water_hen     488
4              Common_sparrow     442
2               Collared_dove     439
32                Tailor_bird     430
28        Red_wattled_lapwing     421
22                  Partridge     413
12            Indian_hornbill     392
17      Little_green_beeeater     378
7                      Drongo     372
33  White_breasted_kingfisher     358
21                Pariah_kite     342
18               Magpie_robin     342
19                      Owlet     333
10                     Hoopoe     315
9                Green Barbet     314
27                 Pond_heron     311
6               Crow_pheasant     310
14                Jungle_Crow     306
13               Indian_robin     300
0              Brahminy_maina     234
24                  Pied_myna     189

In [24]:
BirdClasses['Bird Class'].values

array(['Brahminy_maina', 'Bulbul', 'Collared_dove', 'Common_myna',
       'Common_sparrow', 'Coppersmith', 'Crow_pheasant', 'Drongo',
       'Golden_backed_woodpecker', 'Green Barbet', 'Hoopoe', 'House_Crow',
       'Indian_hornbill', 'Indian_robin', 'Jungle_Crow', 'Jungle_babbler',
       'Koel', 'Little_green_beeeater', 'Magpie_robin', 'Owlet',
       'Parakeet', 'Pariah_kite', 'Partridge', 'Peacock', 'Pied_myna',
       'Pied_wagtail', 'Pigeon', 'Pond_heron', 'Red_wattled_lapwing',
       'Rufous_backed_shrike', 'Shikra', 'Sunbird', 'Tailor_bird',
       'White_breasted_kingfisher', 'White_breasted_water_hen'],
      dtype=object)

In [9]:
BirdClasses.to_csv('DataStats2.csv',index=False)

In [10]:
len(out_classes)

15635

In [11]:
images.shape

(15635, 300, 300, 3)

In [12]:
len(ImagePaths)

15635

In [13]:
len(Sizes)

15635

In [14]:
AllData=pd.DataFrame(
    {'Image Path': ImagePaths,
     'Bird Class': out_classes,
     'Image Size': Sizes
    })

In [15]:
AllData.to_csv("AllData2.csv")

In [12]:
AllData.iloc[1031]

Bird Class                                        Collared_dove
Image Path    Data/Collared_dove/Eurasian Collared Dove(41)....
Image Size                                        (495, 660, 3)
Name: 1031, dtype: object

In [13]:
BirdClasses

                   Bird Class  Counts
0                      Bulbul     593
1               Collared_dove     439
2              Common_sparrow     442
3                 Coppersmith     729
4                        Crow     535
5               Crow_pheasant     310
6                      Drongo     372
7    Golden_backed_woodpecker     512
8                Green Barbet     314
9                      Hoopoe     315
10            Indian_hornbill     392
11               Indian_robin     300
12             Jungle_babbler     553
13                       Koel     595
14      Little_green_beeeater     378
15               Magpie_robin     342
16                       Myna     668
17                      Owlet     333
18                   Parakeet     563
19                Pariah_kite     342
20                  Partridge     413
21                    Peacock     639
22               Pied_wagtail     580
23                     Pigeon     505
24                 Pond_heron     311
25        Red_wattled_lapwing     421
26       Rufous_backed_shrike     541
27                     Shikra     573
28                    Sunbird     517
29                Tailor_bird     430
30                   Tree_pie     361
31  White_breasted_kingfisher     358
32   White_breasted_water_hen     488

In [21]:
AllData['Image Size']

0         (600, 522, 3)
1         (478, 610, 3)
2         (464, 660, 3)
3         (428, 650, 3)
4         (455, 660, 3)
5         (441, 660, 3)
6         (600, 443, 3)
7         (433, 650, 3)
8         (440, 660, 3)
9         (508, 660, 3)
10        (480, 640, 3)
11        (600, 494, 3)
12        (483, 650, 3)
13        (512, 640, 3)
14        (554, 660, 3)
15        (600, 509, 3)
16        (466, 650, 3)
17        (425, 660, 3)
18        (600, 450, 3)
19        (488, 650, 3)
20        (440, 650, 3)
21        (463, 636, 3)
22        (600, 563, 3)
23        (416, 651, 3)
24        (454, 660, 3)
25        (443, 650, 3)
26        (491, 660, 3)
27        (488, 650, 3)
28        (600, 481, 3)
29        (524, 660, 3)
              ...
15605    (713, 1000, 3)
15606     (340, 345, 3)
15607     (559, 650, 3)
15608     (440, 660, 3)
15609     (340, 515, 3)
15610     (566, 792, 3)
15611     (600, 578, 3)
15612     (340, 506, 3)
15613     (340, 226, 3)
15614     (466, 650, 3)
15615    (661, 1000, 3)
15616    (667, 1000, 3)
15617     (340, 257, 3)
15618     (484, 660, 3)
15619     (354, 660, 3)
15620     (340, 301, 3)
15621    (750, 1000, 3)
15622     (491, 650, 3)
15623     (340, 453, 3)
15624     (448, 660, 3)
15625     (340, 531, 3)
15626     (420, 596, 3)
15627     (506, 640, 3)
15628     (612, 625, 3)
15629     (562, 846, 3)
15630     (484, 660, 3)
15631     (340, 453, 3)
15632     (340, 511, 3)
15633     (340, 430, 3)
15634     (491, 660, 3)
Name: Image Size, Length: 15635, dtype: object